.about-name {
    width: 40vw;
    min-width: 800px;
    font-size: 50pt;
    text-align: center;
    font-weight: bold;
    line-height: 100px;
    margin: auto;
    margin-top: 10vh;
  }
  
  .about-name span {
    color: #FFA5AB;
    transition: 0.5s ease;
  }

  .about-name span:hover {
    letter-spacing: 20px;
  }

  .about-body {
    width: 50vw;
    min-width: 700px;
    margin: auto;
    margin-top: 10vh;
    font-size: 16pt;
    text-align: center;
  }

  .about-body span {
    color: #FFA5AB;
    text-decoration: none;
    font-weight: bold;
    transition: 0.5s ease;
  }

  .about-body span:hover {
    text-decoration: underline;
  }

  .face {
    position: absolute;
    margin-top: -200px;
    height: 300px;
    width: auto;
    transform: rotate(90deg);
  }