
.work-content-box {
    min-height: 100vh;
    width: 60vw;
    min-width: 800px;
    margin: auto;
}

.back-arrow {
    position: absolute;
    font-size: 15px;
    margin-left: 20vw;
    margin-top: -50px;
}

.back-arrow:hover {
    color: #FFA5AB;
}

.work-title {
    color: #FFA5AB;
    font-size: 50pt;
    font-weight: 400;
    font-family: "Crimson Text", serif;
    margin-top: 20vh;
}

.work-subtitle {
    color: 'black';
    font-size: 20pt;
    font-weight: 600;
    font-family: "Crimson Text", serif;
    margin-left: 10px;
    margin-bottom: 10px;
    z-index: 5;
    width: 50%;
}

.work-body {
    font-family: Roboto, sans-serif;
    margin-left: 12px;
    margin-top: 35px;
    margin-bottom: 100px;
    width: 50%;
}

.main-img {
    position: absolute;
    margin-left: 25vw;
    max-width: 300px;
    border: 1px solid red;
}

.image-grid {
    /* display: table; */
    /* align-content: flex-start; */
    margin-bottom: 100px;
    margin-top: 50px;
}

.image-grid img {
    max-height: 500px;
    max-width: 500px;
    margin-right: 20px;
    margin-bottom: 20px;
    transition: 0.5s ease;
    border: 1px solid black;
}

.image-grid img:hover {
    margin-top: -50px;
    max-height: 550px;
    max-width: 550px;
    margin-right: 20px;
}

.work-contact {
    font-family: Roboto, sans-serif;
    margin-left: 12px;
    color: #FFA5AB;
}

.work-contact p a {
    text-decoration: none;
    color: #FFA5AB;
}

.work-contact p:hover {
    font-weight: bold;
}

.next-button {
    margin-top: 20px;
    margin-bottom: 100px;
    width: 100%;
}

.next-button span {
    float: right;
}